<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <header>
    <div id="logo">
        <img src="" alt="Nhót">
    </div>
    <div id="hub-name">
        <h1>Distribution Hub: </h1>
    </div>
    <div>
        <a href="profiles/shipper-profile">Profile</a>
    </div>
  </header>
  <body>
      <h1>Active Orders</h1>
      <div id="order-list">
        <ul>
          <% orders.forEach(function(order) { %>  
            <a href="shipper/<%= order._id %>">
              <h1><%= order.customer.name %></h1>
              <h1><%= order.address %></h1>
              <h1><%= order.orderDate.toLocaleDateString() %></h1>
              <h1><%= order.totalCost %></h1>
            </a>
          <% }); %> 
        </ul>
      </div>
  </body>
</html>


