<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <header>
    <div class="row">
      <div class="col" id="logo">
        <img src="" alt="Nhót">
    </div>
    <div class="col" id="hub-name">
      <h1>Distribution Hub: <%= hub.name %> </h1>
    </div>
    <div class="col">
        <a href="profiles/shipper-profile">Profile</a>
    </div>
    </div>
  </header>
  <body>
      <h1>Active Orders</h1>
      <div id="order-list">
        <ul>
          <% orders.forEach(function(order) { %>  
            <a href="shipper/<%= order._id %>">
              <h1><%= order.customer.name %></h1>
              <h1><%= order.address %></h1>
              <h1><%= order.orderDate.toLocaleDateString() %></h1>
              <h1><%= order.totalCost %></h1>
            </a>
          <% }); %> 
        </ul>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>


