<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/shipper.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="/images/logo-quanhot.png" type="image/png" />
  </head>
  <header>
    <nav class="container-fluid nav">
      <div class="container-fluid nav justify-content-between">
        <div class="col-md-2 text-left">
          <a class="navbar-brand" href="#">
            <img src="/images/logo-quanhot.png" alt="" style="max-width: 100px; height: auto;">
          </a>
        </div>
        <div class="col-md-8 text-center d-flex justify-content-center align-items-center">    
          <a href="" class="text-white text-decoration-none">
            <span class="font-weight-bold" style="font-size: 48px;">
              Current Hub: <%= hub.name %>
            </span>
          </a>
        </div>
        <div class="col-md-2 text-right d-flex justify-content-end align-items-center">
          <a href="/profiles/customer-profile" class="text-white text-decoration-none"><img src="/<%= user.profilePicture %>" alt="profile picture" style="width: 40px; border-radius: 20px;"></a>
        </div>
          
      </div>
  </nav>
  </header>
  <body>
    <div class="container bg-light text-center py-4 my-4">
      <h1 class="display-4 text-primary">Active Orders</h1>
    </div>
    
    <div class="container mt-4 bg-light"> <!-- Add bg-light class here for a light gray background -->
      <div class="row">
        <% orders.forEach(function(order) { %>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mt-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-success"><%= order.customer.name %></h5>
                <p class="card-text"><strong>Address:</strong> <%= order.address %></p>
                <p class="card-text"><strong>Order Date:</strong> <%= order.orderDate.toLocaleDateString() %></p>
                <p class="card-text"><strong>Total Cost:</strong> $<%= order.totalCost.toFixed(2) %></p>
                <a href="shipper/<%= order._id %>" class="btn btn-primary btn-sm">View Details</a>
              </div>
            </div>
          </div>
        <% }); %> 
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>


