<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Order Details</h1>
    <h1><%= customer.name %></h1>
    <h1><%= order.address %></h1>
    <h1><%= order.orderDate.toLocaleDateString() %></h1>
    <h1><%= order.total %></h1>
    <ul>
      <% order.products.forEach(function(product) { %>
        <h2><%= product %></h2>
        <h2></h2>
      <% }); %> 
    </ul>
  </body>
</html>
