<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/customer.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c0d7c8bb2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" href="/images/logo-quanhot.png" type="image/png" />
</head>
<body>
  <%- include ('./../partials/nav-shipper')%>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-md-12 col-lg-6 text-center">
            <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
              <img src="/<%= product.image %>" class="d-block mx-lg-auto rounded" alt="Bootstrap Themes" loading="lazy" height="100%">
            </div>
          </div>
          <div class="col-lg-6 text-dark text-center">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><%= product.name %></h1>
            <h3><strong class="text-dark">Price: </strong>$<%= product.price %></h3>
            <p class="text-dark"><strong class="text-dark">Product's description: </strong><%= product.description %></p>
            <h4 class="text-dark"><strong class="text-dark">Sell by vendor: </strong><%= vendor.name %></h4>
          </div>
        </div>
      </div>

    <%- include ('./../partials/footer')%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/js/customer.js" defer></script>
</body>
</html>
