<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/customer.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c0d7c8bb2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <%- include ('./nav-customer') %>

    <div class="container-sm rounded profile ">
      <div class="row"> 
        <div class="col-4">
          <img src="/<%= user.profilePicture %>" alt="profile picture">
        </div>

        <div class="col-8">
          <h1>Customer</h1>
          <a href="profiles/customer-profile" class="text-black"><%= user.name %>'s Profile</a>
        </div>
      </div>
    </div>

    
  
    
    <div class="container my-3">
      <form class="rounded p-2 border shadow custom-filter-container" action="customer/filter-amount" method="POST">
        <h3 class="mb-2 text-black">Filter by Amount</h3>
    
        <div class="mb-2 short-input form-floating">
          <input type="text" id="maximum" placeholder="Max amount" name="maximum" class="form-control">
          <label class="form-label text-black" for="maximum">Max Amount:</label>
        </div>
    
        <div class="mb-2 short-input form-floating">
          <input type="text" id="minimum" placeholder="Min amount" name="minimum" class="form-control">
          <label class="form-label text-black" for="minimum">Min Amount:</label>
        </div>
    
        <button type="submit" class="btn btn-dark mt-3 mx-auto d-block">Search</button>
      </form>
    </div>
    
    

    <!-- <div class="container-fluid products-area"> 
      <ul class="row mt-4">
        <% products.forEach( (product) =>{ %>
            <li class="col-lg-2 col-md-3 card ">
              <img src="/<%= product.image %>" alt="profile picture" class="card-img-top rounded card-img-top rounded ">
              <div class="card-body">
                  <a href="/customer/<%= product._id %>" class="card-title"> <%= product.name %> </a>
              </div>
            </li>
        <% }); %>
      </ul>
    </div> -->


    <div class="container-fluid mr-4 products-area" style="height: fit-content;" >
      <ul class="row mt-4">
          <% products.forEach( product => {%>
              <li class="card text-center col-5 mx-3 mb-4" style="width: 18rem;">
                  <img src="/<%=product.image %>" class="card-img-top rounded card-img-top rounded custom-img-card ">
                  <div class="card-body">
                      <a href="/customer/<%= product._id %>"  class="card-title"> <h5><%= product.name %> </h5></a>
                      <p class="card-text text-black mt-4"><strong class="text-black"><%= product.price%> $</strong></p>
                      <a href="/customer/<%= product._id %>" class="btn btn-dark mt-5 mx-auto d-block"> View Product</a>
                  </div>
              </li>
          <% }); %>
      </ul>
  </div>

    <div class="user-cards" data-product-cards-container></div>

      <template data-product-template>
        <div class="card">
          <div class="header" data-header></div>
          <div class="body" data-body></div>
        </div>
      </template>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/js/customer.js" defer></script>
    <%- include ('./../partials/footer')%>
  </body>
</html>
