<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Dong Manh Duc, Do Thuy Linh, Le Nguyen My Chau, Nguyen Ba Duc Manh, Tran Tuan Trung
ID: s3977747, s3927777, s3978165, s3978506, s3978290
Acknowledgement: Pedro Tech, Web Dev Simplified. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/customer.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c0d7c8bb2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" href="/images/logo-quanhot.png" type="image/png" />
  </head>
  <body>
    <%- include ('./nav-customer') %>
  
  <div class="container">
    <!-- THe Filter section  -->
    <div class="row">
          <div class="col">
            <div class="container my-3 d-flex flex-row">

              <form class="rounded p-2 border shadow custom-filter-container" action="customer/filter-amount" method="POST" id="filter" >
                <h4 class="mb-2 text-black text-center">Filter by Amount</h4>
            
                <div class="row">
                  <div class="col-md-5 mb-2 short-input form-floating" >
                    <input type="text" id="maximum" placeholder="Max amount" name="maximum" class="form-control">
                    <label class="form-label text-black" for="maximum" id="filter-label">Max Amount:</label>
                  </div>
            
                  <div class="col-md-5 mb-1 short-input form-floating">
                    <input type="text" id="minimum" placeholder="Min amount" name="minimum" class="form-control">
                    <label class="form-label text-black" for="minimum" id="filter-label">Min Amount:</label>
                  </div>

                  <div class="col-md-2 "><button type="submit" class="btn btn-dark mt-2  d-block">Search</button></div>
                </div>
              </form>
            </div>

          </div>
 
    </div>
  </div>


    <div class="container mr-4 products-area">
      <% if( products && products.length>0) {%>
        <ul class="row mt-4 mx-5">
            <% products.forEach( product => {%>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                  <li class="card text-center mb-4" id="card-product">
                    <img src="/<%=product.image %>" class="card-img-top rounded card-img-top rounded custom-img-card ">
                    <div class="card-body">
                        <a href="/customer/<%= product._id %>"  class="card-title"> <h5><%= product.name %> </h5></a>
                        <p class="card-text text-black mt-2"><strong class="text-black"><%= product.price%> $</strong></p>
                        <a href="/customer/<%= product._id %>" class="btn btn-dark mt-2 mx-auto d-block"> View Product</a>
                    </div>
                </li>
                </div>
            <% }); %>
        </ul>
      <%} else {%>
        <div id="mainArea">
            <h1>There is no product</h1>
        </div>
      <%}%>

    </div>

    <div class="user-cards" data-product-cards-container></div>

      <template data-product-template>
        <div class="card">
          <div class="header" data-header></div>
          <div class="body" data-body></div>
        </div>
      </template>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/js/customer.js" defer></script>
    <%- include ('./../partials/footer')%>
  </body>
</html>
