<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/customer.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5c0d7c8bb2.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <%- include ('./nav-customer') %>
        <nav aria-label="container breadcrumb" class="mt-4">
            <ol class="breadcrumb mx-5" style="font-size: 1.5em;">
              <li class="breadcrumb-item pl-3"><a href="/" class="text-black">Home</a></li>
              <li class="breadcrumb-item active text-black" aria-current="page">Result</li>
            </ol>
          </nav>
          
        <div class="container-fluid mr-4" style="height: fit-content;" >
            <ul class="row mt-4">
                <% products.forEach( product => {%>
                    <li class="card text-center col-5 mx-3" style="width: 18rem;">
                        <img src="/<%=product.image %>" class="card-img-top rounded card-img-top rounded custom-img-card ">
                        <div class="card-body">
                            <a href="/customer/<%= product._id %>"  class="card-title"> <h5><%= product.name %> </h5></a>
                            <p class="card-text text-black mt-4"><strong class="text-black"><%= product.price%> $</strong></p>
                            <a href="/customer/<%= product._id %>" class="btn btn-dark mt-5 mx-auto d-block"> View Product</a>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>



        <%- include ('./../partials/footer')%>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>
