<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" href="/images/logo-quanhot.png" type="image/png" />
  </head>
  <body>

    <%- include ('./../partials/nav-register')%>
    <div class="container form border border-dark rounded p-2 mt-5 mb-5 ">
      <h1> Shipper Registration</h1>
      <form action="shipper-register" method="POST" >   
        <div> 
          <label for="username" class="form-label item-center mt-4 ">Username</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-person-fill"></i>
            </span>
            <input type="text" id="username" name="username" class="form-control" required> 
          </div>
          
        </div>
        <div>
          <label for="password" class="form-label mt-2"></label>Password</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-key-fill"></i>
            </span>
            <input type="password" id="password" name="password" class="form-control" required> 
          </div>
          <div class="form-check mt-3">
            <input type="checkbox" class="form-check-input" id="showPassword" onclick="myFunction()">
            <label class="form-check-label" for="showPassword"> Show My Password</label>
          </div>
        </div>

        <!--Show a drop down menu of hubs-->
        <label for="hub" class="form-label mt-2"></label>Hub</label>
        <select name="hub" id="hub" class="form-select">
          <option value="">Select a Hub</option>
          <% hubs.forEach(function(hub) { %>
            <option value="<%= hub._id %>"><%= hub.name %></option>
          <% }); %>
        </select>
        
        <label for="error">
          <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <ul class="error-list">
              <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
              <% }); %>
            </ul>
          <% } %>
        </label>

        <button type="submit" class="btn btn-dark mt-5 mx-auto d-block">Register</button>
      </form>
      <a href="login" class="btn btn-none ">Login</a>
    </div>

    <script>
      function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <%- include ('./../partials/footer')%>
  </body>
</html>
